In [13]:
import pandas as pd
import numpy as np

# 1. Load the dataset
df = pd.read_csv('titanic.csv')
print("--- First 5 Records ---")
print(df.head())
print("\n--- Last 5 Records ---")
print(df.tail())

# 2. Identify Feature Types (Manual Step)
# This is usually done by looking at df.head() and df.columns
# You should list these in your report based on your observation.

# 3. Info and Statistical Summary
print("\n--- Data Information ---")
df.info() 
print("\n--- Statistical Summary ---")
print(df.describe())

# 4. Check Unique Values and Distribution
# Loop through categorical columns to see the spread
categorical_cols = ['Survived', 'Pclass', 'Sex']
print("\n--- Categorical Data Distribution ---")
for col in categorical_cols:
    print(f"\nUnique values in {col}: {df[col].unique()}")
    print(df[col].value_counts())

# 5. ML Suitability - Feature Selection
# Let's identify which columns we will actually use
target = 'Survived'
features = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']
print(f"\nTarget Variable: {target}")
print(f"Input Features: {features}")

# 6. Analyze Dataset Size
print(f"\nDataset Shape: {df.shape}")
# Observation: 891 rows is generally enough for basic ML like Random Forest.

# 7. Data Quality Issues (Missing Values & Imbalance)
print("\n--- Missing Values Count ---")
print(df.isnull().sum())

# Check for Imbalance in Target Variable
print("\n--- Target Variable Balance ---")
print(df['Survived'].value_counts(normalize=True) * 100)

--- First 5 Records ---
   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

--- Last 5 Records ---
     Survived  Pclass                            Name     Sex   Age  \
882         0       2            Rev. Juozas Montvila    male  27.0
883         1       1     Miss. Margaret Edith Graham  female  19.0
884         0       3  Miss. Catherine Helen Johnston  female   7.0
885         1       1            Mr. Karl Howell Behr    male  26.0
886         0       3              Mr. Patrick Dooley    male  32.0

     Siblings/Spouses Aboard  Parents/Children Aboard   Fare
882                        0                        0  13.00
883                        0                        0  30.00
884                        1                        2  23.45
885                        0                        0  30.00
886                        0                        0   7.75

--- Data Information ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB

--- Statistical Summary ---
         Survived      Pclass         Age  Siblings/Spouses Aboard  \
count  887.000000  887.000000  887.000000               887.000000
mean     0.385569    2.305524   29.471443                 0.525366
std      0.487004    0.836662   14.121908                 1.104669
min      0.000000    1.000000    0.420000                 0.000000
25%      0.000000    2.000000   20.250000                 0.000000
50%      0.000000    3.000000   28.000000                 0.000000
75%      1.000000    3.000000   38.000000                 1.000000
max      1.000000    3.000000   80.000000                 8.000000

       Parents/Children Aboard       Fare
count               887.000000  887.00000
mean                  0.383315   32.30542
std                   0.807466   49.78204
min                   0.000000    0.00000
25%                   0.000000    7.92500
50%                   0.000000   14.45420
75%                   0.000000   31.13750
max                   6.000000  512.32920

--- Categorical Data Distribution ---

Unique values in Survived: [0 1]
Survived
0    545
1    342
Name: count, dtype: int64

Unique values in Pclass: [3 1 2]
Pclass
3    487
1    216
2    184
Name: count, dtype: int64

Unique values in Sex: ['male' 'female']
Sex
male      573
female    314
Name: count, dtype: int64

Target Variable: Survived
Input Features: ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']

Dataset Shape: (887, 8)

--- Missing Values Count ---
Survived                   0
Pclass                     0
Name                       0
Sex                        0
Age                        0
Siblings/Spouses Aboard    0
Parents/Children Aboard    0
Fare                       0
dtype: int64

--- Target Variable Balance ---
Survived
0    61.443067
1    38.556933
Name: proportion, dtype: float64